body {
    margin: 0 2em 2em 2em;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    font-size: 1.1em;
}
h1 {
    font-size: 1.5em;
}
h2 {
    font-size: 4.5em;
}
h3 {
    font-weight: 100;
    font-size: 24px;
    color: rgba(51, 51, 51, 1);
    line-height: 1.5;
}
h4 {
    font-size: 2em;
}
header {
    display: flex;
    margin: auto;
    flex-direction: row;
    position: sticky;
    z-index: 2;
    top: 0;
    padding-top: 1em;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    height: 2em;
    padding-bottom: 1em;
    color: black;
    background-color: white;
}
header ul {
    display: none;
    z-index: 2;
    flex-direction: row;

}
header ul a {
    color: black;
    text-decoration: none;
    margin: .5em 2em .5em 2em;
}
header ul a:hover {
    text-decoration:underline;
}
img.rounded {
    border-radius: 50%;
}
.logo-img {
    max-height: 50px;
}
.logo-group {
    text-decoration: none;
    color: black;
}
.left-element {
    display: inline-flex;
}
.left-element h1 {
    margin-left: 20px;
}
.block {
    margin-top: 2em;
    padding: 1em;
    border: 1px solid black;
    border-radius: 5px;
}
.main {
    background: black;
    color: white;
}
main {
    max-width: 960px;
    margin: auto;
}
.tf-btn-group {
    display: flex;
    width: fit-content;
    border-radius: 5px;
    padding: .2em .8em .35em .8em;
    background-color: rgb(93, 93, 255);
    filter: drop-shadow(6px 6px 0 black)
}
#hamburger {
    display: block;
    height: 2em;
    background: none;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    float: right;
}

.pricing-notes {
    margin: 0px 0px 1em 0px;
}


.right-group {
    display: flex;
    align-items: center;
}
.header-item {
    text-decoration: none;
    color: black;
}
.header-item:first-of-type {
    margin-right: 20px;
}
header .tf-btn-group {
    margin-left: 20px;
}
.tf-btn-group {
    display: flex;
    align-items: center;
    font-size: 1em;
}

/* If you want some spacing between the button and the image, you can add a margin to either the button or the image. For instance: */

.typeform-button {
    margin-right: 10px;  /* This will add a 10px space to the right of the button */
}

.tf-btn-group:hover {background-color: rgb(24, 24, 189);}
.typeform-button {
}
.tf-btn-group img {
    width: 12px;
    margin: 0 0 .15em .1em;
}
.typeform-button button {
    display: inline-block !important;
    position: relative !important;
    color:white !important;
    background: none !important;
    line-height: normal !important;
    border-radius: 0px !important;
    padding: 0 !important;
    height: 22px !important;
}
.typeform-button button:after {
  content: '' !important;
  position: absolute !important;
  width: 100% !important;
  transform: scaleX(0) !important;
  height: 2px !important;
  bottom: 0 !important;
  left: 0 !important;
  background-color: white !important;
  transform-origin: bottom right !important;
  transition: transform 0.25s ease-out !important;
}
.typeform-button button:hover:after {
    transform: scaleX(1) !important;
    transform-origin: bottom left !important;
}
.pricing-notes {
    text-align: center;
    background-color: rgb(197, 197, 255);
    border-radius: 5px;
    border: 1px solid black;
}
.testimonial {
    text-align: center;
    background-color: rgb(197, 197, 255);
    border-radius: 5px;
    border: 1px solid black;
}
.testimonial img {
    max-width: 100px;
    border-radius: 50%;
    margin-top: 15px;
}
.testimonial figcaption {
    margin: auto;
    max-width: 75%;
    display: block;
}
figure.testimonial {
    margin-inline-start: 0;
    margin-inline-end: 0;
}
.testimonial :last-child {
    margin-top: 15px;
    margin-bottom: 15px;
    font-style: italic;
    font-size: 15px;
}
.summary {
    margin-top: 5%;
}
.summary .book-call {
    display: block;
    margin: auto;
}
.service-block {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.service-group {
    border-radius: 5px;
    border: 1px solid black;
    max-width: 500px;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
.service-group h4  {
    margin: 45px 45px 15px 15px;
}
.service-group p {
    margin: 15px 15px 15px 15px;
}

.service-block .emoji{
    font-size: 7em;
}

.faq div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.faq div p {
    margin: 1em;
}
.faq article p a {
    color: black;
}
.faq article {
    height: fit-content;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.faq article span {
    display: flex;
    height: fit-content;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.faq article span h4 {
    font-weight: medium;
    margin: .5em;
}
.faq article span img {
    width: 15px;
    height: 30px;
    transition: transform .2s linear;
}
.faq article p {
    display: none;
    margin-left: .5em;
}
.reminder button {
    margin: auto;
    display: block;
}
.reminder .tf-btn-group, .summary .tf-btn-group {
    margin: auto;
}
.letter {
    max-width: 800px;
    border-radius: 5px;
    border: 1px solid black;
    margin: auto;
    margin-top: 3%;
}
.letter img {
    margin: auto;
    display: block;
    margin-top: 15px;
}
.founder-letter {
    margin-left: 1em;
    margin-right: 1em;
}

.founder-letter p {
    font-size: 24px;
    font-weight: 100;
}
nav {
    display: flex;
    transition: height .3s ease;
    position: sticky;
    z-index: 2;
    flex-direction: column;
    top: 4em;
    width: 100%;
    height: 0%;
    border-top: 2px solid black;
    border-bottom: 2px solid;
    background-color: white;
}
nav .mlinks {visibility: hidden;}
nav button {
    font-size: 1em;
    background: none;
    border: none;
}
nav a, nav button {
    width: fit-content;
    margin: 1em 0 0 0;
    padding: .2em;
}

footer p{
    text-align: center;
}
nav .tf-btn-group {
    margin: 1em 0 0 0;
}
@media (min-width: 750px) {
    #hamburger {
        display: none;
    }
    nav {
        display: none;
    }
}
@media (max-width: 576px) {
    /* Mobile devices */
    header .tf-btn-group {
        font-size: 0.25em;
    }
    h2 {
        margin-top: 0.5em;
        font-size: 3.5em;
    }
    .right-group {
        display: none !important;
    }

    .pricing-table {
        overflow-x: auto;
        table-layout: fixed;
        font-size: .5em;
    }

}


